*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans' , sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('game back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.mainheader{
width: 100%;
height: 60px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(132, 20, 20);
}
.mainheader .logo img{
    width: 200px; height: 50px;
    padding-left: 60px;
    border-radius: 10px 10px;
    margin-top: 5px;

}
.mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.mainheader nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.menubtn{
    margin-right: 60px;
}
.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    border: black;
    border-radius: 10px; 
    background-color: rgb(75, 59, 64);
}
main{

align-items: center;
justify-content: space-between;
color: #ffffff;
margin-top: 250px;
}
main .right-sec{
    padding-right: 70px;

}
main .left-sec{
    padding-left: 100px;
}
.left-sec h1{
padding-top: 7px;
font-weight: 700;
text-transform: capitalize;
font-size: 50px;
}
.left-sec h2{
    text-transform: capitalize;
    font-size: 25px;
    }
.left-sec p{
    padding-top: 7px;
    margin-bottom: 7px;
}
.left-sec button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 10px; 
    background-color: rgb(132, 20, 20);
}
